<div class="flex align-items-center justify-content-center h-vh">
    <div class="flex flex-column align-items-center justify-content-center">

        <img src="../assets/login_image.png" width="80%" alt="Login Image"/>
        <h1 class="text-center headline4 font-black mb-8">Your agenda, everywhere</h1>

        <button class="btn elevated-btn bg-color text-color font-medium" style="min-width: 90%" (click)="login()">
            <img src="../assets/google_logo.png" width="20px" alt="Google Logo"/>
            Login with Google
        </button>
    </div>
</div>
