<div class="flex gap-3 card">
    <div class="date flex flex-column gap-1 align-items-center justify-content-center">
        <div class="text-2xl text-primary">{{ task.date | date: 'dd' }}</div>
        <div class="text-sm text-primary"> {{ task.date | date: 'MMM' }}</div>
    </div>
    <div class="content flex flex-column gap-1">
        <div class="text-lg font-bold">{{ task.title }}</div>
        <div class="text-sm text-500" *ngIf="task.description !== ''">{{ task.description }}</div>
    </div>
</div>
